<html>
<head>
	<% include ./partials/head %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
  <body>
  	<header>
  		<% include ./partials/header %>
  	</header>
	  <table class='table col m8 s12'>
       <thead>
         <th>What Exactly Is The Singularity?</th>
       </thead>
       <tbody>
           <tr>
             <td><p>The technological singularity is a hypothetical event in which artificial general intelligence (constituting, for example, intelligent computers, computer networks, or robots) would be capable of recursive self-improvement (progressively redesigning itself), or of autonomously building ever smarter and more powerful machines than itself, up to the point of a runaway effect—an intelligence explosion—that yields an intelligence surpassing all current human control or understanding. Because the capabilities of such a super-intelligence may be impossible for a human to comprehend, the technological singularity is the point beyond which events may become unpredictable or even unfathomable to human intelligence.</p></td>
       </tbody>
     </table>
   </body>
</html>