<!DOCTYPE html>
<html>
  <head>
  	<% include ./partials/head %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<header>
  		<% include ./partials/header %>
  	</header>
    <h1 class='center'>Singularity Generator<%= title %></h1>
    <div class='center'>
    <img class="irc_mi" style="margin-top: 0px;" src="https://40.media.tumblr.com/03bf3bd062f7e5c755e418a2535af0e9/tumblr_n6n9dmeWVt1t0cghfo1_500.jpg" width="276" height="393"></div>
  </body>
</html>
