<!DOCTYPE html>
<html>
  <head>
  	<% include ./partials/head %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class='parallax-container'>
      <div class='paralax'>
        <header>
          <% include ./partials/header %>
        </header>
        <h1 class='center'>Singularity Generator<%= title %></h1>
      </div>
    </div>
    <div class='section white'>
      <div class='row container'>
        <p class='red-text'>Parallax Information</p>
      </div>
    </div>
    <div class='parallax-container'>
      <div class='parallax'>
        <img class="irc_mi" style="margin-top: 0px;" src="https://40.media.tumblr.    com/03bf3bd062f7e5c755e418a2535af0e9/tumblr_n6n9dmeWVt1t0cghfo1_500.jpg" width= "276" height="393">  
      </div>
    </div>
  </body>
</html>
